[Unit]
Description=Alerta API process
After=network.target

[Service]
ExecStart=alertad 2>&1 | logger -t alerta-server -p daemon.notice
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=alertad.service
