[Unit]
Description=Alerta API process
After=network.target

[Service]
ExecStart=/usr/local/bin/alertad
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=alertad.service
